CLAUDE.md

# Python bytecode cache
build/
dist/
*.egg-info/
__pycache__/
*.py[cod]
*$py.class
.claude/
docs/
.DS_Store
*sft
*fts
*.c
test_upperlimit_185Hz/

# Jupyter Notebook checkpoint
.ipynb_checkpoints/
paws.sif
